
body{
  background-color: #251147;
  margin-bottom: 30px;
  font-family: Tahoma, Geneva, sans-serif;
  line-height: 1.3em;
}
.planet_container{
  background-color: #915ced;
  width: 70%;

  height: 405px;  


  margin: auto;
  margin-bottom: 3%;
  box-shadow: 10px 10px #3b1b72;

}
.planet_image{
  width: 40%;
  float: left;
  margin-left: 3%;
  margin-top: 3%;

}
.planet_container table{
  padding-top: 7%;
  
}
.planet_container th{
	line-height: 40px;
	font-size: 40px;

}
.header{
  text-align: center;
  color: #915ced;
}
.planet_container h3{
  text-align: center;
}